/* General rules */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
  color: #434455;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0;
}

img {
  display: block;
}

/* HEADER */

header {
  display: flex;
  height: 72px;
  align-items: center;
  margin: 0 156px;
  justify-content: space-between;
}

.logo-nav-container {
  display: flex;
  gap: 76px;
}

.logo-link {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-link span {
  color: #2e2f42;
}

.section-nav {
  text-transform: capitalize;
  color: #2e2f42;
  /* flex */
  display: flex;
  gap: 40px;
}

.section-nav-link {
  font-weight: 500;
}

.section-nav-link:hover,
.section-nav-link:focus {
  color: #404bbf;
}

.communication-info {
  font-style: normal;
}

.communication-list {
  display: flex;
  gap: 40px;
}

.communication-link:focus,
.communication-info:hover {
  color: #404bbf;
}

/* SECTION 1 */

.section-hero {
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  justify-content: center;
}

.title-button-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.main-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}

.main-title span {
  text-transform: lowercase;
}

.hero-button {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  text-transform: capitalize;
  font-style: normal;
  line-height: 1.5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-style: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* SECTION 2 */

.section-tactic {
  margin: 120px 156px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.hidden-title {
  display: none;
}

.tactic-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.tactic-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% - 72px) / 4);
}

.section-tactic-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* SECTION 3 */
.section-team {
  background-color: #f4f4fd;
  text-transform: capitalize;
  padding: 120px 156px 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-team-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  max-width: 264px;
}

.section-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-team-text {
  font-size: 16px;
}

/* SECTION 4 */
.section-portfolio {
  text-transform: capitalize;
}

/* FOOTER */
.section-footer {
  background-color: #2e2f42;
}

.footer-logo-link {
  color: #4d5ae5;
}

.footer-logo-link span {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
